# ignore all files in any directory named gpt2 at any level of the directory tree
**/gpt2/*

# ignore all models files .pth
*.pth

# ignore zip files
*.zip

# ignore tsv files
*.tsv

# ignore sms_spam_collection directory
**/sms_spam_collection/

# ignore all csv files
*.csv

# ignore venv directory
**/.venv/

# ignore .DS_Store files
.DS_Store

# ignore pdf files
*.pdf

# ignore instruction-data.json
instruction-data.json